<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <meta name="importmap-type" content="systemjs-importmap" />

  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
  <script type="systemjs-importmap" src="https://wcs-single-spa-demo.s3.amazonaws.com/%40wcs/importmap.json"></script>

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@wcs/root-config": "//localhost:9000/wcs-root-config.js"
      }
    }
  </script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>

  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>
  <style>
      body, html { margin: 0; padding: 0; font-size: 16px; font-family: Arial, Helvetica, sans-serif; height: 100%; }
      body { display: flex; flex-direction: column; }
      * { box-sizing: border-box; }
  </style>

</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="nav-container"></div>
  <main>
    <div id="page-1-container"></div>
    <div id="page-2-container"></div>
  </main>
  <script>
    System.import('@wcs/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs>
    <!-- localStorage.setItem('devtools', true) -->
  </import-map-overrides-full>
  <% if (isLocal) { %> <script> importMapOverrides.enableUI() </script> <% } %>
</body>
</html>
